@model IList<Distributor>

@{
    ViewBag.Title = "Administration";
    Layout = "_Layout";
}

<h2>Administration</h2>

<br/>
<br/>

<h3>Distributors</h3>

<p>
    @Html.ActionLink("Create New Distributor", "CreateDistributor")
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Email</th>
        <th>AddressLine1</th>
        <th>Phone</th>
        <th>Vehicles Count</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var distributor in Model)
    {
        <tr>
            <td>@distributor.User.Email</td>
            <td>@distributor.AddressLine1
            <td>@distributor.ContactPhone</td>
            <td>@distributor.Vehicles.Count</td>
            <td>
                @Html.ActionLink("Edit Credentials", "EditDistributorCredentials", new {distributorId = distributor.Id}) |
                @*@Html.ActionLink("Edit", "EditDistributor", new {distributorId = item.DistributorID}) |
                @Html.ActionLink("Details", "DistributorDetails", new {distributorId = item.DistributorID})*@
            </td>
        </tr>
    }
    </tbody>
</table>